@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  /* Define the font variables for different h1 sizes without font-style and font-family */
  --h1-small-font-size: 25px;
  --h1-small-font-weight: 900;
  --h1-small-line-height: 35px;
  --h1-small-color: #2d2d2d;
  --h1-small-font-family: Inter;

  --h1-medium-font-size: 45px;
  --h1-medium-font-weight: 900;
  --h1-medium-line-height: 60px;
  --h1-medium-color: #2d2d2d;
  --h1-medium-font-family: Inter;

  --h1-large-font-size: 60px;
  --h1-large-font-weight: 900;
  --h1-large-line-height: 80px;
  --h1-large-font-family: Inter;
}

:root {
  --p-smaller-font-size: 13px;
  --p-smaller-font-weight: 400;
  --p-smaller-line-height: 30px;
  --p-smaller-color: #3db2ff;
  --p-smaller-font-family: Inter;

  --p-larger-font-size: 17px;
  --p-larger-font-weight: 300;
  --p-larger-line-height: 30px;
  --p-larger-color: #6e6e6e;

  --p-larger-font-family: Inter;

  --p-bold-font-weight: 600;
}

.large_heading {
  font-size: var(--h1-large-font-size);
  font-weight: var(--h1-large-font-weight);
  line-height: var(--h1-large-line-height);
  font-family: var(--h1-large-font-family);
}

.medium_heading {
  font-size: var(--h1-medium-font-size);
  font-weight: var(--h1-medium-font-weight);
  line-height: var(--h1-medium-line-height);
  font-family: var(--h1-medium-font-family);
  color: var(--h1-medium-color);
}

.small_heading {
  font-size: var(--h1-small-font-size);
  font-weight: var(--h1-small-font-weight);
  line-height: var(--h1-small-line-height);
  font-family: var(--h1-small-font-family);
  color: var(--h1-small-color);
}

.smaller_paragraph {
  font-size: var(--p-smaller-font-size);
  font-weight: var(--p-smaller-font-weight);
  line-height: var(--p-smaller-line-height);
  font-family: var(--p-smaller-font-family);
  color: var(--p-smaller-color);
}

.larger_paragraph {
  font-size: var(--p-larger-font-size);
  font-weight: var(--p-larger-font-weight);
  line-height: var(--p-larger-line-height);
  font-family: var(--p-larger-font-family);
  color: var(--p-larger-color);
}

.bold_paragraph {
  font-weight: var(--p-bold-font-weight);
}

.center_text {
  text-align: center;
}

.white_text {
  color: white;
}

.blue_color {
  color: #3db2ff;
}

.no {
  color: #dadada;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

i {
  color: #3db2ff;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 150px;
  background-image: linear-gradient(180deg, #3a3a3a 75%, #ffffff 0%);
  padding: 30px 105px;
  padding-bottom: 50px;
  width: 100vw;
}

.header-section1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1440px;
}

.header-section1-socials {
  display: flex;
  justify-content: space-between;
}

.header-section1-socials-group1 {
  display: flex;
  gap: 30px;
}

.header-section1-socials-group1-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-section1-socials-group2 {
  display: flex;
  gap: 15px;
}

.header-section1-nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 15px;
}

.header-section1-nav-group2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 795px;
}

.header-section1-nav-group2-items {
  display: flex;
}

.header-section1-nav-group2-item {
  padding: 35px 15px;
}

.header-section1-nav-group2-item:hover {
  padding: 35px 15px;
  color: #fff;
  background-color: #3db2ff;
  cursor: pointer;
  transition: 0.3s;
}

.header-section1-nav-group2-item p {
  transition: color 0.3s;
}

.header-section1-nav-group2-item:hover p {
  color: #fff;
}

.header-section1-nav-group2-button > button {
  width: 180px;
  height: 65px;
  background-color: #3db2ff;
  border: none;

  color: #fff;

  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
}

.header-section1-nav-group2-button > button:hover {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: #3db2ff;
  padding: 12px 16px;
}

.bar {
  display: block;
  width: 27px;
  height: 5px;
  margin: 5px auto;
  background-color: #fff;
}

.header-section2 {
  height: 340px;
  width: 100%;
  max-width: 870px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.header-section3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  align-items: end;
}

.header-section3-group1 {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.header-section3-group1-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-section3-group1-item-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-section3-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 30px;
  padding: 35px;
  background-color: #3db2ff;
}

.header-section3-form-wrapper {
  display: flex;
  gap: 30px;
}

.header-section3-form-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 250px;
  width: 100%;
}

.header-section3-form-group-item {
  height: 90px;
}

.header-section3-form-group-item > input {
  width: 100%;
  height: 70px;
  background-color: #81cdff;
  outline: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 0 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

input::placeholder {
  color: #fff;
}

.error-message {
  color: red;
  font-weight: bold;
}

select {
  width: 100%;
  height: 70px;
  background-color: #81cdff;
  outline: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 0 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.header-section3-group1-item {
  width: 220px;
}

.header-section3-form-button > button {
  width: 180px;
  height: 65px;
  background-color: #fff;
  border: none;
  color: #3db2ff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
}

.header-section3-form-button > button:hover {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.about_section {
  padding: 50px 105px 100px 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about_lorem_div {
  min-height: 120px;
  background-color: rgba(243, 243, 243, 1);
  padding: 35px;
  border-left: 12px solid rgba(61, 178, 255, 1);
}
.about_service_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 20px;
  padding: 0;
  width: 100%;
  max-width: 600px;
  padding-top: 15px;
}

.about_media {
  height: 540px;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.about_grey_block {
  width: 100%;
  max-width: 420px;
  height: 390px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(196, 196, 196, 1);
  z-index: -1;
}
.about_media_vid {
  width: 100%;
  max-width: 420px;
  height: 390px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: white;
  object-fit: fill;
}
.about_text {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.check-icon {
  width: 20px;
  height: 23px;
}

.statistics_section {
  padding: 100px 105px;
  background-color: rgba(58, 58, 58, 255);
  display: flex;
  align-items: center;
  gap: 30px;
}
.statistics_section_left {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.statistics_section_right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.statistics_one {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services_section {
  padding: 100px 105px 50px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.services_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 660px;
}

.services_div_text {
  text-align: center;
}
.services_div_text > p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.services_div {
  border: 2px solid rgba(61, 178, 255, 1);
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 30px;
  width: 390px;
}

.services_div:hover {
  background-color: rgba(61, 178, 255, 1);
  color: white;
  transition: 500ms;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.services_div:hover .services_img {
  filter: brightness(0) saturate(100%) invert(200%) saturate(406%)
    brightness(106%) contrast(97%);
  transition: filter 350ms ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(1);
}

.services_div:hover .services_div_text {
  color: white;
  transition: 500ms;
}
.services_div:hover .small_heading {
  color: white;
  transition: 500ms;
}
.services_div_img {
  display: flex;
  justify-content: center;
}

.services_div_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services_divs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.services_img {
  height: 52px;
}

.map_section {
  width: 100%;
  padding: 50px 105px;
}
.map {
  width: 100%;
  max-width: 1230px;
  position: relative;
}

.map_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dot {
  position: absolute;
  width: 5%;
  height: 10%;
  background-color: rgba(61, 178, 255, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot_img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.map_australia {
  top: 73%;
  left: 85%;
}
.map_africa {
  top: 39%;
  left: 46%;
}
.map_asia {
  top: 12%;
  left: 64.5%;
}
.map_south_america {
  top: 58%;
  left: 21%;
}
.map_north_america {
  top: 15.3%;
  left: 11.5%;
}
.choose_us_section {
  max-width: 1440px;
  padding: 50px 105px;
  display: flex;
  gap: 30px;
}

.choose_us_left {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.choose_us_left_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.choose_us_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.choose_us_button {
  width: 180px;
  height: 65px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  background-color: rgba(61, 178, 255, 1);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}
.choose_us_play {
  width: 100%;
  max-width: 65px;
  height: 65px;
  background-color: rgba(61, 178, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.choose_us_button:hover {
  background-color: white;
  color: #3db2ff;
  transition: 500ms;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.choose_us_buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.choose_us_right {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.choose_us_div {
  background-color: rgba(61, 178, 255, 1);
  color: white;
  padding: 35px;
  display: flex;
  gap: 20px;
}

.choose_us_div:hover {
  background-color: white;
  color: rgba(61, 178, 255, 1);
  transition: 500ms;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.choose_us_div:hover .choose_us_two > p {
  color: rgba(61, 178, 255, 1);
}

.choose_us_div:hover .choose_us_two > h1 {
  color: rgba(61, 178, 255, 1);
}

.choose_us_imgs {
  height: 52px;
  width: 52px;
  object-fit: contain;
}
.choose_us_two {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pricing_section {
  width: 100%;
  max-width: 1440px;
  padding: 50px 105px 100px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.pricing_up_head {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  color: rgba(45, 45, 45, 1);
}
.pricing_up {
  width: 100%;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.pricing_down {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.pricing_div {
  width: 390px;
  border: 2px solid rgba(61, 178, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px;
  justify-content: center;
  position: relative;
  height: 690px;
}

.pricing_div :hover {
  cursor: pointer;
}

.absolute_recommended {
  position: absolute;
  padding: 21px;
  text-align: center;
  width: 180px;
  height: 68px;
  color: #fff;
  background-color: #ffb830;
  top: -3px;
  right: -1px;
  display: none;
  transition: 0.5s;
}
.clicked_pricing_div {
  background-color: #3db2ff;
}
.clicked_pricing_div > .pricing_div_properties > .properties_text > h1 {
  color: white;
}
.clicked_pricing_div > .pricing_div_properties > .properties_text > p {
  color: white;
}
.clicked_pricing_div > .pricing_div_properties > .properties_price > h1 {
  color: white;
}

.clicked_pricing_div > .pricing_list > div > svg path {
  fill: white;
}

.clicked_pricing_div > .pricing_list > .item > p {
  color: white;
}

.clicked_pricing_div > .pricing_btn_div > button {
  background-color: white;
  color: #3db2ff;
}

.line {
  height: 1px;
  background-color: #dadada;
}
.pricing_properties {
  display: flex;
  flex-direction: column;
}
.pricing_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing_btn {
  background-color: rgba(61, 178, 255, 1);
  width: 180px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

/* slider section */

.slider_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 100px 105px 50px 105px;
  background-color: white;
}

.slider_text {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 660px;
}

swiper-container {
  width: 100%;
  max-width: 1230px;
  height: 420px;
}

swiper-slide {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 30px;
  height: 358px;
}

.user {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user_img {
  width: 85px;
  height: 85px;
}
.user_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user_heading {
  color: var(--Heading-Color, #2d2d2d);

  /* Heading Small */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 140% */
}

.user_paragraph {
  color: var(--Primary, #3db2ff);

  /* Subheading */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 230.769% */
  letter-spacing: 1.95px;
  text-transform: uppercase;
}
.team_section {
  max-width: 1440px;
  padding: 0px 105px 100px 105px;
  display: flex;
  gap: 30px;
  background-image: linear-gradient(180deg, #fff 12.15%, #3a3a3a 0%);
}

.team_section_video {
  width: 100%;
  max-width: 600px;
  height: 723px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team_section_vid {
  height: 95%;
  width: 95%;
  object-fit: fill;
}

.team_section_content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 43px;
}

.team_section_content_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.team_section_content_skill {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skill_text {
  display: flex;
  justify-content: space-between;
}

.skill_range {
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: white;
}

.range {
  background-color: #3db2ff;
  height: 30px;
  width: 90%;
}

.range98 {
  width: 98%;
}

.range92 {
  width: 92%;
}

.contacts_section {
  max-width: 1440px;
  padding: 50px 105px 355px 105px;
  display: flex;
  gap: 30px;
  background-image: linear-gradient(180deg, #fff 58%, #c4c4c4 0%);
}

.contacts_section_content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts_section_content_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts_section_content_services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services_item {
  display: flex;
  gap: 30px;
}

.item_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts_section_form {
  width: 100%;
  max-width: 600px;
  background-color: #3db2ff;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_inputs {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.form_inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 250px;
  width: 100%;
}

.form_inputs_wrapper > div {
  height: 90px;
}

.form_form_inp,
.form_form_textarea {
  width: 100%;
  height: 70px;
  background-color: #81cdff;
  outline: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 0 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.form_textarea {
  height: 160px;
}

.form_form_inp,
.form_form_textarea::placeholder {
  color: #fff;
}

.form_form_textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding-top: 20px;
}

.form_button > button {
  width: 180px;
  height: 65px;
  background-color: #fff;
  border: none;
  color: #3db2ff;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
}

.form_button > button:hover {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.swiper-pagination {
  display: flex;
  gap: 1px;
  justify-content: center;
}
:root {
  --swiper-pagination-color: rgba(61, 178, 255, 1);
}
:root {
  --swiper-pagination-bullet-border-radius: 0;
}

footer {
  background-color: rgba(61, 178, 255, 1);
  padding: 100px 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 135px;
}
.footer_left {
  width: 100%;
  max-width: 495px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer_icons {
  display: flex;
  gap: 15px;
}

.footer_right {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 30px;
  justify-content: space-between;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer_scroll {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_subscribe {
  max-width: 180px;
  width: 100%;
  height: 65px;
  border: none;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: white;
  color: rgba(61, 178, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer_text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}
.footer_input {
  width: 100%;
  height: 70px;
  outline: none;
  border: none;
  padding: 20px 20px;
  background-color: #81cdff;
  border-bottom: 3px solid white;
  color: white;
}
.footer_input::placeholder {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer_email {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_email > div {
  height: 90px;
}
.footer_left > div {
  display: flex;
  gap: 22px;
  align-items: center;
}
.footer_sub {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 285px;
}
:root {
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 20px;
}
.stars {
  display: flex;
  gap: 10px;
}
.footer_subscribe:hover {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup.active {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}

.popup_vid {
  width: 100%;
  max-height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.close-btn {
  position: absolute;
  top: -14px;
  right: -15px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  background-color: white;
  transition: 0.2s;
  color: black;
}

@media (max-width: 1440px) {
  .div_one,
  .div_two {
    flex: 1.5 1 45%;
  }
  .div_three {
    flex: 2 1 100%;
  }

  .pricing_div_one,
  .pricing_div_two {
    flex: 1.5 1 45%;
  }
  .pricing_div_three {
    flex: 2 1 100%;
  }

  .pricing_div_three {
    align-items: start;
  }
}

@media (max-width: 1320px) {
  footer {
    flex-direction: column;
  }

  .footer_right,
  .footer_left {
    max-width: 100%;
  }
  .footer_nav,
  .footer_sub {
    width: 100%;
    max-width: 45%;
  }
}

@media (max-width: 1310px) {
  .header-section3 {
    flex-direction: column-reverse;
  }

  .header-section3-group1 {
    width: 100%;
    justify-content: space-around;
  }

  .header-section3-form {
    width: 100%;
    max-width: 100%;
  }

  .header-section3-form-group {
    max-width: 312px;
    width: 100%;
  }

  .about_section {
    flex-direction: column;
  }

  .about_media {
    max-width: 100%;
  }

  .about_grey_block,
  .about_media_vid {
    max-width: 538px;
  }
  .about_text {
    max-width: 100%;
  }

  .about_service_list {
    max-width: 100%;
  }

  .statistics_section {
    flex-direction: column;
  }
  .statistics_section_left {
    max-width: 100%;
  }

  .statistics_section_right {
    width: 100%;
  }

  .team_section {
    flex-direction: column;
  }
  .team_section_content,
  .team_section_video {
    max-width: 100%;
  }

  .team_section_video {
    height: 500px;
  }

  .contacts_section {
    flex-direction: column;
  }

  .contacts_section_content,
  .contacts_section_form {
    max-width: 100%;
  }
}

@media (max-width: 1160px) {
  .hamburger {
    display: block;
  }

  .header-section1-nav {
    position: relative;
  }

  .header-section1-nav-group2 {
    position: absolute;
    left: -300%;
    top: 50px;
    flex-direction: column;
    width: min-content;
    text-align: center;
    transition: 1.5s;
  }
  .header-section1-nav-group2.active {
    left: calc(50% - 90px);
    top: calc(0% + 109px);
    transition: 1.5s;
  }

  .header-section1-nav-group2-items {
    flex-direction: column;
  }

  .header-section2 {
    height: 540px;
    transition: 2s;
  }

  .header-section2.active {
    margin-top: 550px;
    transition: 1s;
  }

  .header-section1-nav {
    padding: 25px;
  }

  .choose_us_section {
    flex-direction: column;
  }

  .choose_us_left,
  .choose_us_right {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 25px;
    gap: 50px;
    background-image: linear-gradient(180deg, #3a3a3a 70%, #ffffff 0%);
  }

  .about_section {
    padding: 25px 25px 50px 25px;
    gap: 50px;
  }

  .statistics_section {
    padding: 50px 25px;
  }

  .services_section {
    padding: 50px 25px 25px 25px;
  }

  .map_section {
    padding: 25px;
  }

  .choose_us_section {
    padding: 25px;
  }

  .pricing_section {
    padding: 25px 25px 50px 25px;
  }

  swiper-slide {
    width: 1000px;
  }
  .slider_section {
    padding: 50px 25px 25px 25px;
  }

  .team_section {
    padding: 0px 25px 50px 25px;
  }

  .contacts_section {
    padding: 25px 25px 400px 25px;
  }
  .form_inputs_wrapper {
    max-width: 312px;
    width: 100%;
  }

  footer {
    padding: 50px 25px;
    gap: 50px;
  }

  .footer_right {
    flex-direction: column;
    gap: 50px;
  }

  .footer_sub {
    max-width: 100%;
  }
}

@media (max-width: 620px) {
  header {
    padding: 15px;
    background-image: linear-gradient(180deg, #3a3a3a 65%, #ffffff 0%);
  }

  .header-section1-socials {
    display: none;
  }

  .header-section3-group1 {
    flex-direction: column;
    gap: 25px;
  }

  .header-section3-group1-item {
    width: 100%;
  }

  .about_section {
    padding: 15px;
  }

  .about_service_list {
    grid-template-columns: repeat(1, auto);
  }

  .statistics_section_right {
    flex-direction: column;
  }

  .div_twos,
  .div_one {
    flex: 2 1 100%;
  }

  .services_div {
    width: 100%;
  }
  .services_section {
    padding: 50px 15px 25px 15px;
  }

  .pricing_div_two,
  .pricing_div_one {
    flex: 2 1 100%;
  }

  .pricing_div {
    width: 100%;
  }
}

@media (max-width: 535px) {
  .header-section2-qoute > h1 {
    color: #fff;
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 58px;
  }

  .header-section2 {
    height: 480px;
  }
}

@media (max-width: 375px) {
  header {
    background-image: linear-gradient(180deg, #3a3a3a 55%, #ffffff 0%);
  }
  .header-section1-nav {
    padding: 15px;
  }

  .header-section3-form-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .header-section3-form-group {
    gap: 25px;
  }

  .header-section2.active {
    margin-top: 550px;
    transition: 1s;
  }

  .about_section {
    padding: 25px 15px 50px 15px;
  }
  .about_media {
    max-width: 345px;
    height: 400px;
  }
  .about_grey_block,
  .about_media_vid {
    height: 250px;
    max-width: 300px;
  }

  .about_header {
    font-size: 35px;
    line-height: 45px; /* 128.571% */
  }

  .statistics_section {
    padding: 50px 15px;
  }

  .map_section {
    padding: 25px 15px;
  }

  .choose_us_section {
    padding: 25px 15px;
  }

  .choose_us_two {
    gap: 15px;
  }

  .choose_us_div {
    flex-direction: column;
    gap: 25px;
  }

  .pricing_section {
    padding: 25px 15px 50px 15px;
  }

  .slider_section {
    padding: 50px 15px 25px 15px;
  }

  .team_section {
    padding: 15px;
  }

  .team_section_video {
    height: 350px;
  }

  .team_section_content_text > h1 {
    font-size: 35px;
    line-height: 45px; /* 133.333% */
  }

  .contacts_section {
    padding: 25px 15px 250px 15px;
  }

  .form_inputs {
    flex-direction: column;
  }

  footer {
    padding: 50px 15px;
  }
}
